:root {
    --cor-fundo: #FFFFFF;
    --cor-escrita-logo: #3A404E;
    --cor-cinza-botão: #667085;
    --cor-vermelha: #8E2424;
    --cor-preta-texto: #101828;
    --cor-cinza-claro: #F3F4F6;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 112px;
    width: 100%;
}

.logo-navbar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.links-navbar {
    display: flex;
    gap: 32px;
}

.link-navbar {
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-cinza-botão);
    font-size: 16px;
}

.botoes-navbar {
    display: flex;
    gap: 16px;
}

.botao-navbar {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    color: var(--cor-fundo);
}

.botao-entrar {
    background-color: transparent;
    color: var(--cor-cinza-botão);
    border: 1px solid var(--cor-cinza-botão);
}

.botao-cadastrar {
    background-color: var(--cor-vermelha);
}

.botao-navbar:hover {
    opacity: 0.8;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    margin-top: 70px; 
}

.cabecalho__conteudo__texto{
    font-weight: 600;
    font-size: 16px;
    color: var(--cor-vermelha);
}

.cabecalho__conteudo__titulo {
    font-weight: 600;
    font-size: 48px;
    color: var(--cor-preta-texto);
}

.cabecalho__conteudo__paragrafo {
    font-weight: 400;
    font-size: 20px;
    color: var(--cor-cinza-botão);
}

.metricas__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 112px;
    gap: 32px;
    margin-top: 40px;
}

.metricas__container__informacoes {
    flex: 1;
    text-align: left;
    max-width: 285px;
}

.metricas__container__informacoes-numeros {
    color: var(--cor-vermelha);
    font-weight: 600;
    font-size: 60px;
}

.metricas__container__informacoes-subtitulo {
    color: var(--cor-preta-texto);
    font-weight: 500;
    font-size: 18px;
    margin-top: 12px;
}

.metricas__container__informacoes-conteudo {
    color: var(--cor-cinza-botão);
    font-weight: 400;
    font-size: 16px;
}

.vagas {
    margin-top: 80px;
}

.vagas__informacoes-inicio {
    color: var(--cor-vermelha);
    background-color: var(--cor-cinza-claro);
    font-weight: 500;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 16px;
}

.vagas__informacoes-subtitulo {
    color: var(--cor-preta-texto);
    font-weight: 600;
    font-size: 36px;
    margin-top: 20px;
}

.vagas__informacoes-paragrafo {
    color: var(--cor-cinza-botão);
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

.vagas__informacoes-imagem {
    width: auto;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .container-navbar {
        padding: 20px 20px;
    }

    .logo-navbar {
        margin-right: 20px;
        margin-left: 20px;
    }

    .links-navbar {
        display: none; 
    }

    .botoes-navbar {
        margin-left: auto;
    }

    .cabecalho {
        margin-top: 50px;
        padding: 0 16px;
    }

    .cabecalho__conteudo__titulo {
        font-size: 36px;
    }

    .cabecalho__conteudo__paragrafo {
        font-size: 18px;
    }   

    .metricas__container {
        flex-direction: column;
        padding: 0 16px;
        gap: 16px;
    }

    .metricas__container__informacoes {
        max-width: 100%;
        text-align: center;
    }

    .metricas__container__informacoes-numeros {
        font-size: 48px;
    }

    .metricas__container__informacoes-subtitulo {
        font-size: 16px;
    }

    .metricas__container__informacoes-conteudo {
        font-size: 14px;
        max-width: 100%;
    }

} 